@model NTAP.WebUI.Models.EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
    var a = Model.PhotoBase64;
}

<style>
    #imgThumbnail {
        height: 97px;
        width: 97px;
        cursor: pointer;
        transition: 0.3s;
    }
        #imgThumbnail:hover {
            opacity: 0.7;
        }
</style>

<div class="row justify-content-center mt-5">
    <div class="col-lg-6 bg-light p-4 rounded">
        @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new
        {
            role = "form",
            onsubmit = "return confirm('Are you sure want to save?')",
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group row">
                <div class="col-sm-4">
                    <input id="hdnImagePath" type="hidden" value="/images/notfound.png">
                </div>
                <div class="col-sm-8 d-flex">
                    <img id="imgThumbnail" src="@Model.PhotoBase64" alt="No Image" class="rounded img-thumbnail" />
                    <button type="button" onclick="removeThumbnail()" class="close ml-2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label class="col-sm-4 col-form-label">Photo</label>
                <div class="col-sm-8">
                    <input id="imgSelection" name="filePhoto" onchange="previewImage(this)" type="file" class="form-control-file" accept=".png, .jpg" />
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.FullName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Username, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <button class="btn btn-info btn-block" type="submit">Save</button>
            <a class="btn btn-secondary btn-block" href="@Url.Action("Index", "Manage")" role="button">Cancel</a>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var imgThumbnail = document.getElementById('imgThumbnail');
    var hdnImagePath = document.getElementById('hdnImagePath');
    var imgSelection = document.getElementById('imgSelection');

    function previewImage(s) {
        var reader = new FileReader();
        reader.onload = function () {
            if (reader.readyState === 2) {
                imgThumbnail.src = reader.result;
                hdnImagePath.value = s.files[0].name;
            }
        }
        reader.readAsDataURL(event.target.files[0])
    }
    function removeThumbnail() {
        imgSelection.value = '';
        hdnImagePath.value = '@Url.Content("~/Images/app-no-image.png")';
        imgThumbnail.src = '@Url.Content("~/Images/app-no-image.png")';
    }
</script>